<div class="BuyReview">
      <div class="service-block">
        <a class="back-btn route">BACK</a>
        <div class="page-name">Review buy</div>
      </div>
      <div class="second-stage stage">
        <div class="container">
          <div class="first-block blocks">
            <div class="fiat-block inner-blocks">
              <div class="left-block">
                <div class="fiat-img"></div>
                <div class="fiat-amount amounts"></div>
              </div>
              <div class="right-block">
                <div class="target-fiat names"></div>
                <div class="firm-name"></div>
              </div>
            </div>
            <div class="blockchain-block inner-blocks">
              <div class="left-block">
                <img class="currency-img">
                <div class="crypto-amount amounts"></div>
              </div>
              <div class="right-block">
                <div class="target-crypto names"></div>
                <div class="family-name"></div>
              </div>
            </div>
          </div>
          <div class="error blocks">
        
          </div>
          <div class="forth-block">
            <div class="top-block">
              <div class="left-block">
                <div class="text-block">
                  <div class="text">Payment type</div>
                  <div class="value payment-type">--</div>
                </div>
                <div class="text-block">
                  <div class="text">
                    <span>
                      You spend,
                      <span class="target-fiat"></span>:
                    </span>
                  </div>
                  <div class="value fiat-amount">--</div>
                </div>
                <div class="text-block">
                  <div class="text">
                    <span>
                      You get,
                      <span class="target-crypto"></span>:
                    </span>
                  </div>
                  <div class="value crypto-amount">--</div>
                </div>
                <div class="text-block">
                  <div class="text">Conversion rate:</div>
                  <div class="value conversion-rate">--</div>
                </div>
                <div class="text-block">
                  <div class="text">
                    <span>
                      Total fee,
                      <span class="target-fiat"></span>
                    </span>
                  </div>
                  <div class="value total-fee">--</div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="bottom-block">
          <button class="button approve">Confirm Buy</button>
        </div>
      </div>
      <div class="third-stage stage">
        <div class="upper-block">Sending<br>Now</div>
        <div class="middle-block">
          <img src="/components/transferReview/images/sending_payment_icon.png">
        </div>
        <div class="bottom-block">
          <div class="currency-selected wh">
            <img class="icon-currency-img">
          </div>
          <div class="loader-transfer wh-middle">
            <img src="/components/transferReview/images/transfer_preloader.gif">
          </div>
          <div class="contact-selected wh">
            <img src="/components/transferReview/images/recipient_icon.png">
          </div>
        </div>
      </div>
      <div class="forth-stage stage">
        <div class="upper-block">Send<br>Successfully</div>
        <div class="middle-block">
          <img src="/components/transferReview/images/success_icon.png">
        </div>
      </div>
      </div>
    </div>
    