speakease-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: black;
  height: 30%;
  font-size: 0.9rem;
  font-weight: bold;
}

speakease-breadcrumbs > img {
  height: 1.4rem;
  cursor: pointer;
}
