<div class="TransferReview">
  <div class="service-block">
    <a class="back-btn route">НАЗАД</a>
    <div class="page-name">Данные о переводе</div>
  </div>
  <div class="second-stage stage">
    <div class="container">
      <div class="first-block blocks">
        <div class="left-block column">
          <div class="label">Отправить</div>
          <div class="img">
            <img src="/components/transferReview/images/send_icon.png">
          </div>
          <div class="sending-value value amount-value"></div>
        </div>
        <div class="middle-block column">
          <div class="label">Валюта</div>
          <div class="img currency">
            <img class="icon-currency-img">
          </div>
          <div class="value currency-name"></div>
        </div>
        <div class="right-block column">
          <div class="label">Получатель</div>
          <div class="img">
            <img src="/components/transferReview/images/recipient_icon.png">
          </div>
          <div class="value contact-value"></div>
        </div>
      </div>
      <div class="error blocks">
        
      </div>
      <div class="forth-block">
        <div class="top-block">
          <div class="left-block">
            <div class="text-block">
              <div class="text">Сервисный сбор:</div>
              <div class="value service-fee">0</div>
            </div>
            <div class="text-block">
              <div class="text">Сетевой сбор:</div>
              <div class="value network-fee">0</div>
            </div>
            <div class="text-block">
              <div class="text bold">Сумма:</div>
              <div class="second-value-info value bold total"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="forth-block">
        <div class="top-block">
          <div class="text bold">Пароль:</div>
          <input class="password input">
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="amount-block">
        <div class="amount-block-label">Сумма:</div>
        <div class="amount-block-value total"></div>
      </div>
      <button class="button approve">Подтвердить перевод</button>
    </div>
  </div>
  <div class="third-stage stage">
    <div class="upper-block">Делаю<br>перевод</div>
    <div class="middle-block">
      <img src="/components/transferReview/images/sending_payment_icon.png">
    </div>
    <div class="bottom-block">
      <div class="currency-selected wh">
        <img class="icon-currency-img" src="/components/exchangeRates/images/ETH.png">
      </div>
      <div class="loader-transfer wh-middle">
        <img src="/components/transferReview/images/transfer_preloader.gif">
      </div>
      <div class="contact-selected wh">
        <img src="/components/transferReview/images/recipient_icon.png">
      </div>
    </div>
  </div>
  <div class="forth-stage stage">
    <div class="upper-block">Успешно<br>Отправлено</div>
    <div class="middle-block">
      <img src="/components/transferReview/images/success_icon.png">
    </div>
  </div>
  </div>
</div>
