<div class="Receipt" data-output="receipt.html">
  <div class="container">
    <div class="transfer-id-label">
      Transaction HASH:
      <textarea class="value"></textarea>
    </div>
    <div class="first-block">
      <div class="top-block-left">
        <div class="send-block">
          <div class="label">Send</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/send_icon.png">
            </div>
            <div class="value amount-value"></div>
          </div>
        </div>
        <div class="currency-block">
          <div class="label">Currency</div>
          <div class="value-block">
            <div class="img-block">
              <img class="icon-currency-img">
            </div>
            <div class="value currency-name">LINK</div>
          </div>
        </div>
      </div>
      <div class="top-block-right">
        <div class="recieve-block">
          <div class="label">To</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/recipient_icon.png">
            </div>
            <div class="value contact-value"></div>
          </div>
        </div>
        <div class="date-block">
          <div class="label">Date</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/calendar_icon.png">
            </div>
            <div class="value">2/16/2023</div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-block">
      <div class="top-block">
        <div class="left-block">
          <div class="text-block">
            <div class="text bold">Send Amount:</div>
            <div class="value bold amount-value with-currency"></div>
          </div>
          <div class="text-block">
            <div class="text">Service Fee:</div>
            <div class="value servicefee">0</div>
          </div>
          <div class="text-block">
            <div class="text">Network Fee:</div>
            <div class="value networkfee">0</div>
          </div>
        </div>
        <div class="bottom-block">
          <div class="text-block-bottom">
            <div class="text bold">Total Amount:</div>
            <div class="total-value-first total"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-block blocks">
      Хеш транзакции скопирован в буфер обмена
    </div>
  </div>
</div>
