<div class="ViewContact" data-output="viewContact.html">
  <div class="service-block">
    <button class="back-btn route">뒤로</button>
    <div class="page-name">연락처 편집</div>
  </div>
  <div class="person-block">
    <div class="name-block">
      <div class="label">이름:</div>
      <div class="name-info info-block"></div>
    </div>
    <!--    <div class="surname-block">-->
    <!--      <div class="label">Last name:</div>-->
    <!--      <div class="surname-info info-block">Smith</div>-->
    <!--    </div>-->
  </div>
  <div class="container"></div>
</div>