.BuyReview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

speakease-buyreview.review .second-stage {
  display: flex;
}

.BuyReview .second-stage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

speakease-buyreview.wait .second-stage {
  display: none;
}

speakease-buyreview.success .second-stage {
  display: none;
}

.BuyReview .third-stage {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #2ED300 0%, #24A700 100%);
  height: 100%;
}

speakease-buyreview.wait .third-stage {
  display: flex;
}

.BuyReview .forth-stage {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #2ED300 0%, #24A700 100%);
  height: 100%;
}

speakease-buyreview.success .forth-stage {
  display: flex;
}

.BuyReview .fifth-stage {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 2rem
}

speakease-buyreview.results .fifth-stage {
  display: flex;
}


speakease-buyreview .service-block {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 1rem;
  margin: 0.5rem 0;
}

speakease-buyreview .service-block .page-name {
  font-size: 1.2rem;
  font-weight: bold;
}

speakease-buyreview {
  width: 100%;
  height: 100%;
}

speakease-buyreview .container {
  width: 90%;
  text-align: center;
}

speakease-buyreview .container .blocks {
  border-radius: 1rem;
  background: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #AFAFAF;
}

speakease-buyreview .container .blocks img,
speakease-buyreview .container .blocks .fiat-img svg {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

speakease-buyreview .container .blocks .inner-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0.6rem;
  padding: 0.5rem;
  gap: 0.5rem;
}




speakease-buyreview .upper-block {
  display: flex;
  justify-content: flex-end;
}

speakease-buyreview .second-stage .second-block.blocks {
  display: none;
}

speakease-buyreview .second-stage .upper-block {
  justify-content: flex-start;
}

speakease-buyreview .upper-block .label {
  width: 6rem;
  display: flex;
  align-items: center;
  text-align: end;
  padding-right: 1rem;
}

speakease-buyreview .lower-block .sub-label {
  width: 6rem;
  display: flex;
  align-items: center;
  text-align: end;
  padding-right: 1rem;
  font-size: 1rem;
}

speakease-buyreview .lower-block {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

speakease-buyreview .second-stage .lower-block .sub-label {
  width: 100%;
  text-align: start;
}

speakease-buyreview .lower-block .green-button {
  width: 65%;
  font-size: 1rem;
  font-weight: bold;
}

speakease-buyreview .input {
  width: 65%;
}

speakease-buyreview .forth-block {
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

speakease-buyreview .forth-block .text-block {
  display: flex;
  font-weight: normal;
  font-size: 1rem;
  color: #000;
}


speakease-buyreview .forth-block .top-block {
  margin-bottom: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

speakease-buyreview .forth-block .top-block .text {
  margin: 0 0.5rem 0 0.5rem;
  width: 8rem;
  text-align: left;
  flex-shrink: 0;
  flex-grow: 0;
}

speakease-buyreview .left-block {
  width: 100%;
}

speakease-buyreview .forth-block .top-block .value {
  font-size: 1rem;
  text-align: left;
  width: calc(100% - 9rem);
  overflow: hidden;
  text-overflow: ellipsis;
}

speakease-buyreview .forth-block .top-block .bold {
  font-weight: bold;
}

speakease-buyreview .forth-block .top-block .right-block .img-block {
  width: 2.3rem;
}

speakease-buyreview .forth-block .top-block .right-block .img-block img {
  width: 100%;
  height: 100%;
}

speakease-buyreview .contact-select option {
  color: #AFAFAF;
  width: 100%;
}

speakease-buyreview .first-block {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

speakease-buyreview .second-stage .first-block {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

speakease-buyreview .second-stage .first-block .inner-blocks .left-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

speakease-buyreview .second-stage .first-block .inner-blocks .left-block .amounts {
  font-size: 1.5rem;
  font-weight: normal;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

speakease-buyreview .second-stage .right-block {
  display: flex;
  align-items: flex-end;  
  justify-content: center;
  flex-direction: column;
}

speakease-buyreview .second-stage .first-block .inner-blocks .right-block .names {
  color: #000000;
}


speakease-buyreview .second-stage .first-block .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

speakease-buyreview .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

speakease-buyreview .second-stage .middle-block .img {
  height: 4rem;
}

speakease-buyreview .img {
  height: 4rem;
}

speakease-buyreview .second-stage .first-block .img img {
  width: 100%;
  height: 100%;
}

speakease-buyreview .img img {
  width: 100%;
  height: 100%;
}

speakease-buyreview .second-stage .first-block .label {
  margin-bottom: 0.5rem;
}

speakease-buyreview .label {
  margin-bottom: 0.5rem;
}

speakease-buyreview .second-stage .first-block .value {
  margin-top: 1rem;
  color: #000000;
  font-weight: bold;
  font-size: inherit;
  width: 100%;
  word-wrap: break-word;
}

speakease-buyreview .second-stage .bottom-block {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

speakease-buyreview .second-stage .bottom-block .amount-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

speakease-buyreview .second-stage .bottom-block .amount-block-label {
  color: #AFAFAF;
  font-size: 1.2rem;
}

speakease-buyreview .second-stage .bottom-block .amount-block-value {
  color: #000000;
  font-size: 2rem;
}

speakease-buyreview .second-stage .bottom-block button {
  display: flex;
  border-radius: 0.6rem;
  font-weight: normal;
  font-size: 1.4rem;
  background-color: #2ED300;
  color: #FFF;
  width: 90%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 2rem 0;
  cursor: pointer;
}

speakease-buyreview .upper-block {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

speakease-buyreview .third-stage img {
  width: 100%;
  height: 100%;
}

speakease-buyreview img {
  width: 100%;
  height: 100%;
}

speakease-buyreview .third-stage .wh-middle {
  height: 1rem;
}

speakease-buyreview .third-stage .wh {
  height: 2rem;
}

speakease-buyreview .third-stage .bottom-block {
  display: flex;
  padding: 1rem;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
}

speakease-buyreview .second-stage .upper-block {
  margin: 0;
}

speakease-buyreview .second-stage .upper-block .label {
  color: #AFAFAF;
}

speakease-buyreview .error {
  display: none;
  border: 0.1rem solid #FF0000;
  word-wrap: break-word;
}

speakease-buyreview.error .error {
  display: block;
}