<div class="Receipt" data-output="receipt.html">
  <div class="container">
    <div class="transfer-id-label">
      트랜잭션 해시:
      <textarea class="value"></textarea>
    </div>
    <div class="first-block">
      <div class="top-block-left">
        <div class="send-block">
          <div class="label">보낸 수량</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/send_icon.png">
            </div>
            <div class="value amount-value"></div>
          </div>
        </div>
        <div class="currency-block">
          <div class="label">코인</div>
          <div class="value-block">
            <div class="img-block">
              <img class="icon-currency-img">
            </div>
            <div class="value currency-name">링크</div>
          </div>
        </div>
      </div>
      <div class="top-block-right">
        <div class="recieve-block">
          <div class="label">수신인</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/recipient_icon.png">
            </div>
            <div class="value contact-value"></div>
          </div>
        </div>
        <div class="date-block">
          <div class="label">날짜</div>
          <div class="value-block">
            <div class="img-block">
              <img src="/components/transferReview/images/calendar_icon.png">
            </div>
            <div class="value">2/16/2023</div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-block">
      <div class="top-block">
        <div class="left-block">
          <div class="text-block">
            <div class="text bold">보낸 수량:</div>
            <div class="value bold amount-value with-currency"></div>
          </div>
          <div class="text-block">
            <div class="text">서비스 수수료:</div>
            <div class="value servicefee">0</div>
          </div>
          <div class="text-block">
            <div class="text">네트워크 수수료:</div>
            <div class="value networkfee">0</div>
          </div>
        </div>
        <div class="bottom-block">
          <div class="text-block-bottom">
            <div class="text bold">총 금액:</div>
            <div class="total-value-first total"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="notification-block blocks">
      트랜잭션 해시가 클립보드에 복사되었습니다
    </div>
  </div>
</div>