@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Reg.otf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-RegIt.otf") format("truetype");

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Bold.otf") format("truetype");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-BoldIt.otf") format("truetype");

  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Light.otf") format("truetype");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-LightIt.otf") format("truetype");

  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Sbold.otf") format("truetype");

  font-weight: 600;
  font-style: normal;
}
